<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>孙斌 | 研发工程师 | sunbuny@163.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />


	<!-- /home/sun/Src/sunbuny.github.io -->
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>孙斌</h1>
					<h2>研发工程师</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:sunbuny@163.com">sunbuny@163.com</a></h3>
						<h3>18817957706</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>简介</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								热爱机器人学, 机器视觉, 喜欢软硬件结合的现场Debug, 对世界充满好奇, 希望能为祖国的自动化事业贡献一点力量.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>技能</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>机器人学</h2>
									<p>机器人运动学参数标定<br>手眼标定<br>Random BinPicking<br>轨迹插补<br>FANUC机器人Karel编程	</p>
								</div>

								<div class="talent">
									<h2>3D视觉</h2>
									<p>Pose Estimation<br>点云预处理<br>点云配准<br>基于点云的轨迹生成</p>
								</div>

								<div class="talent">
									<h2>2D视觉</h2>
									<p>相机内外参标定<br>模板匹配<br>RANSAC<br>亚像素特征提取<br>特征描述子</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>技术</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>C/C++</li>
								<li>OpenCV</li>
								<li class="last">Open3D</li>
							</ul>

							<ul class="talent">
								<li>Python</li>
								<li>PCL</li>
								<li class="last">ROS MoveIt!</li>
							</ul>

							<ul class="talent">
								<li>Karel</li>
								<li>Ceres</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>工作经历</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job last">
								<h2>上海发那科机器人有限公司</h2>
								<h3>研发工程师</h3>
								<h4>2019-至今</h4>
								<p>负责机器人软件开发, 担任多个研发项目直接负责人. <br>涉及机器人本体软件开发测试(大客户客制化软件), 机器人混码垛算法研发, StreamMotion(J519)上位机插补算法研发, 高精度DH参数标定, 物流纸箱点云分割等.  </p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>项目经历</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="prj">
								<h2>混合码垛算法研究</h2>
								<h3>上海发那科机器人有限公司</h3>
								<h4>2020.5-至今</h4>
								<p>开发基于启发式算法的木板材码垛，混箱码垛算法.&nbsp;并针对混码过程中易于出现垛型松散，塌落的问题，提出基于静力学稳定的快速稳定判据，保证垛型稳定.&nbsp;以OpenGL显示垛型，以IMGUI构建了简单的人机界面，通过Socket与机器人通讯.&nbsp;该算法顺利通过客户专家审核，进入部署阶段.</p>
								<div class="vcenter">
									<video width="200" height="260" controls>
										<source src="/assets/videos/boxpack.mp4" type="video/mp4">
									</video>
									<video width="200" height="260" controls>
										<source src="/assets/videos/boardpack.mp4" type="video/mp4">
									</video>
								</div>

							</div>

							<div class="prj">
								<h2>FANUC机器人调试工具集</h2>
								<h3>上海发那科机器人有限公司</h3>
								<h4>2020.3-2020.5</h4>
								<p>为大客户A社开发应用于FANUC机器人的调试工具集，功能包括机器人应用软件一键导入，机器人参数配置一键导入，流程化调试助手，集约式点位示教修改等.&nbsp;该软件意在解决大批量的机器人的软件安装调试问题，目前已经部署机器人XXX台.</p>
							</div>

							<div class="prj">
								<h2>StreamMotion(J519)轨迹插补算法预研</h2>
								<h3>上海发那科机器人有限公司</h3>
								<h4>2019.11-2020.3</h4>
								<p>开发应用于FANUC机器人StreamMotion(J519) Option的轨迹插补算法.&nbsp;StreamMotion是FANUC机器人的实时外部运动控制接口，可以用于机器人轨迹规划，运动规划壁障等. &nbsp;用户需要以8ms一个周期向控制器喂送接下来的位置.&nbsp;为此开发了基于S曲线的多轴轨迹插补，相位同步，多点blend算法，期间通过实时Linux补丁解决了通讯过程中的实时性问题，以及频繁出现的Jerk Limit问题.</p>
								<img width="640" height="300"  src="/assets/images/pics/interpert.png" alt="插补结果">
							</div>

							<div class="prj">
								<h2>纸箱点云分割</h2>
								<h3>上海发那科机器人有限公司</h3>
								<h4>2019.7-2020.1</h4>
								<p>针对快递行业中托盘上纸箱紧密相连致使无法通过点云分割纸箱的问题，开发了基于道路检测算法的分割算法. &nbsp; 即通过光照条件构造纸箱与纸箱之间缝隙的阴影特征(该特征在纸箱边界检测任务中较为显著)，作为纸箱内部连接边界，以纸箱垛顶点云边界作为外部边界,结合起来可以有效分割纸箱点云. </p>
							</div>
							
							<div class="prj">
								<h2>DH参数标定</h2>
								<h3>上海发那科机器人有限公司</h3>
								<h4>2019.8–2019.11</h4>
								<p>通过红宝石检测探针触碰标定块来标定机器人DH参数，补偿机器人几何误差，提高机器人绝对定位精度.&nbsp;针对标定过程中24个参数中的冗余问题，提出采用BKW算法自动化计算冗余参数.&nbsp;保证迭代优化过程的顺利收敛.</p>
								
							</div>

							<div class="prj">
								<h2>位姿估计研究</h2>
								<h3>智能机器人运动与视觉实验室 华东师范大学</h3>
								<h4>2017.11-2019.5</h4>
								<p>对位姿估计的主流算法，PPF，LineMod等进行了深入研究（知乎：目前物体6自由度估计(6-Dof pose estimation)有哪些主流方法？132赞同).&nbsp;针对PPF算法使用的简单降采样方法细节信息丢失过多的问题，优化点云预处理及假设检验算法，提高了检测率.&nbsp;最后，在位姿精化部分采用LMICP提高鲁棒性.&nbsp;</p>
								<p>论文：Sun, Bin, and Xinyu Zhang. "Efficient Pose Estimation using Random Forest and Hash Voting." 2019 IEEE International Conference on Mechatronics and Automation (ICMA). IEEE, 2019.</p>
								<img width="640" height="230"  src="/assets/images/pics/pos1.png" alt="插补结果">
								<img width="640" height="180"  src="/assets/images/pics/pos2.png" alt="插补结果">
							</div>

							<div class="prj">
								<h2>基于偏置解耦的高精度相机标定</h2>
								<h3>智能机器人运动与视觉实验室 华东师范大学</h3>
								<h4>2017.9-2018.5</h4>
								<p>系统性的分析了相机内参标定误差的来源，针对广泛使用的圆形图案标定板中圆形控制点引入的投影偏置(投影后的椭圆中心不是圆心)，推导了解析的消除公式。针对畸变偏置，采用了一种迭代控制点精化方法。该方法先不考虑圆形控制点带来的偏置进行一次粗标定，由得到的粗内参可以构建无畸变的图像，在无畸变图像上，可以计算椭圆中心，并进行投影偏置消除，同时还利用圆形阵列的共线性做精化。在得到足够精确的控制点后，根据畸变模型将控制点反投影到原始图像上，以此细标定相机。控制点的精度会在迭代中变得更加精确从而可以得到更高精度的相机标定。</p>
								<img width="640" height="350"  src="/assets/images/pics/cal.jpg" alt="插补结果">
								
							</div>


							
							<div class="prj">
								<h2>基于MoveIt!的机械臂平台</h2>
								<h3>智能机器人运动与视觉实验室 华东师范大学</h3>
								<h4>2017.11-2018.5</h4>
								<p>硬件方面，以UR5+Xtion+Robotiq85为平台，编写WorkCell的URDF；软件方面，整合ROS UR5驱动及Gripper驱动(基于非ROS驱动编写ROS Node)，完成手眼标定，并编写一键启动的Launch脚本.&nbsp;其中运动学逆解基于ikFast，motion planning基于STOMP，可以在上位机使用图形界面拖动示教</p>
							</div>

							<div class="prj last">
								<h2>静电吸附的布料抓手</h2>
								<h3>智能机器人运动与视觉实验室 华东师范大学</h3>
								<h4>2017.11-2018.5</h4>
								<p>基于静电吸附的柔性布料抓手，采用四联动曲柄滑块机构，优化设计梳状电极提高静电吸附力.&nbsp;该抓手可以抓取并抻展褶皱布料.&nbsp;独自完成全部设计测试工作.&nbsp; </p>
								<p>论文：Sun, Bin, and Xinyu Zhang. "A New Electrostatic Gripper for Flexible Handling of Fabrics in Automated Garment Manufacturing." 2019 IEEE 15th International Conference on Automation Science and Engineering (CASE). IEEE, 2019.</p>
								<img width="640" height="280"  src="/assets/images/pics/gripper.png" alt="插补结果">
								<img width="640" height="250"  src="/assets/images/pics/gripper2.png" alt="插补结果">
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>教育</h2>
						</div>
						<div class="edu">
							<h2>硕士 华东师范大学</h2>
							<h3>2016-2019 </h3>
							<h4>软件工程 </h4>
						</div>
						<div class="yui-u first">
							<h2>&nbsp;</h2>
						</div>
						<div class="edu last">
							<h2>学士 上海师范大学</h2>
							<h3>2012-2016 </h3>
							<h4>电气工程及其自动化</h4>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>孙斌 &mdash; <a href="mailto:sunbuny@163.com">sunbuny@163.com</a> &mdash; 18817957706</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

